//compress: false , out: test.css, sourceMap:true;
@import "vars/vars";
@import "mixin";
@import "grid";

body {
    color: black;

    &:hover {
        color: @primary;
    }
}

@media @mobile {
    body {
        color: green;
    .btn(@secondary);   //mixin
    }
}

.button {
    &--second {
        color: @secondary;
    }
    &:hover {
        color: @primary;
    }
}
