//compress: false , out: test.css
@primary: white;
@mobile: ~"all and (max-width: 575px)";
@col: 12;
@grid-width: 1200px;

body {
    color: black;

    &:hover {
        color: @primary;
    }
}
@media @mobile {
    body {
        color: green;
    }
}
.container {
    width: 100%;
    max-width: @grid-width;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}